{% extends 'base.html' %}
{% load avatar_image %}
{% load notifications_tags %}
{% load i18n %}

{% block title %}{% trans 'Notifications' %}{% endblock %}

{% block content %}

    {% with request.resolver_match.view_name as view_name %}
        <nav>
            <div class="nav-wrapper">
                <ul class="left">
                    <li {% if view_name == 'notifications:unread' %}class="active"{% endif %}>
                        <a href="{% url 'notifications:unread' %}">
                            {% trans 'Unread' %}

                            {% notifications_unread as unread_count %}
                            {% if unread_count %}
                                <span class="new badge">{{ unread_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li {% if view_name == 'notifications:all' %}class="active"{% endif %}>
                        <a href="{% url 'notifications:all' %}">{% trans 'All' %}</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endwith %}

    {% if notifications.count %}
        <div class="clearfix content-block">
            <form action="{% url 'notifications:mark_all_as_read' %}" method="post" class="right">
                {% csrf_token %}
                <button class="btn" type="submit">{% trans 'mark all as read' %}</button>
            </form>
        </div>
        <ul class="collection">
            {% for notice in notifications %}
                <li class="collection-item avatar">
                    <a href="{% url 'users:detail' notice.actor %}">
                        <i class="material-icons circle">{% avatar_image notice.actor size=40 %}</i>
                    </a>
                    <span class="title">
                        {% if notice.data.type == 'track_request_pending' %}
                            {% include 'notifications/notice_track_request_pending.html' %}
                        {% else %}
                            {{ notice }}
                        {% endif %}
                    </span>

                    <a href="{% url 'notifications:mark_as_read' notice.slug %}" class="secondary-content btn btn-flat">
                        {% trans 'mark as read' %}
                    </a>
                    <p>{{ notice.timesince }} ago</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{% trans 'No new notifications' %}</span>
            </div>
        </div>
    {% endif %}
{% endblock %}