blessings==1.6
boto3==1.4.0
botocore==1.4.56
bpython==0.15
curtsies==0.2.9
dj-database-url==0.4.0
Django==1.9.2
django-gravatar2==1.4.0
django-registration==2.1.2
django-widget-tweaks==1.4.1
docutils==0.12
eyeD3==0.7.9
futures==3.0.5
greenlet==0.4.10
gunicorn==19.4.5
jmespath==0.9.0
psycopg2==2.6.1
Pygments==2.1.3
python-dateutil==2.5.3
requests==2.11.1
s3transfer==0.1.4
six==1.10.0
wcwidth==0.1.7
whitenoise==2.0.6
