{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Log in{% endblock %}

{% block content %}
    <main class="container">

        <h1>Log in</h1>

        {% if form.errors %}
            <div class="alert alert-danger">Please correct the errors below:</div>
        {% endif %}

        <form class="form" method="post" action="?next={{ next|default:"/" }}" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Username</label>
                {% render_field form.username class+="form-control" %}
                {% if form.username.errors %}
                    <p class="errors">{{ form.username.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                {% render_field form.password class+="form-control" %}
                {% if form.password.errors %}
                    <p class="errors">{{ form.password.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>

        <p>If you don't have an account, you can <a href="/accounts/register/">sign up</a> for one.</p>
    </main>
{% endblock %}