{% extends "base.html" %}

{% block title %}Password Change{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% include 'users/user_account_navigation.html' with active_link='password' %}
        </div>
        <div class="panel-body">
{#            <form class="form" action="" method="post">#}
{#                <legend>Delete Skill"</legend>#}
{#                {% csrf_token %}#}
{#                <p>Are you sure you want to delete the skill, "{{ skill.get_name_display }}"?</p>#}
{#                <a href="{% url 'accounts:skills' %}">Cancel</a>#}
{#                <button type="submit" class="btn btn-danger">Confirm</button>#}
{#            </form>#}
            Password Change
        </div>
    </div>

    {##}
    {#<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>#}
    {##}
    {#<form action="" method="post">#}
    {#{% csrf_token %}#}
    {#{{ form.old_password.errors }}#}
    {#<p class="aligned wide"><label for="id_old_password">{% trans 'Old password:' %}</label>{{ form.old_password }}</p>#}
    {#{{ form.new_password1.errors }}#}
    {#<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>#}
    {#{{ form.new_password2.errors }}#}
    {#<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>#}
    {##}
    {#<p><input type="submit" value="{% trans 'Change my password' %}" /></p>#}
    {#</form>#}
    {##}


{% endblock %}