{% extends "base.html" %}

# {% load widget_tweaks %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Create an account</span>
            {% if form.errors %}
                <div class="card-panel message message--error">Please correct the errors
                    below: {{ form.non_field_errors }}</div>
            {% endif %}
            <form method="post" action="">
                {% csrf_token %}
                <div class="input-field">
                    <label for="id_username">Username</label>
                    {% render_field form.username %}
                    {% if form.username.errors %}
                        <div class="errors">{{ form.username.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="input-field">
                    <label for="id_email">Email</label>
                    {% render_field form.email %}
                    {% if form.email.errors %}
                        <div class="errors">{{ form.email.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="input-field">
                    <label for="id_password1">Password</label>
                    {% render_field form.password1 %}
                    {% if form.password1.errors %}
                        <div class="errors">{{ form.password1.errors.as_text }}</div>
                    {% endif %}
                </div>
                <div class="input-field">
                    <label for="id_password2">Confirm Password</label>
                    {% render_field form.password2 %}
                    {% if form.password2.errors %}
                        <div class="errors">{{ form.password2.errors.as_text }}</div>
                    {% endif %}
                </div>
                <button class="btn" type="submit">Register &rarr;</button>
            </form>
        </div>
    </div>
{% endblock %}
