{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Melody Buddy</title>
    {% include 'base_head.html' %}
</head>
<body>

{% include 'base_site_header.html' %}

<main id="home">
    <div style="
            background-image: url('{% static "images/night-vintage-music-bokeh.jpg" %}');
            background-size: cover;
            background-position-x: center;
            background-position-y: center;
            height: 100vh;
            ">
        <div class="headline-container center">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h1>Musicians <span style="text-decoration: underline">need</span> a Community</h1>
                        <p class="flow-text">Collaborating with other musicians doesn't have to be hard, and we don't
                            have to be limited
                            to the town we live in or by our personal networks.
                        </p>
                        <div class="center meet-the-product">
                            <script>
                                window.meetMelodyBuddy = function () {
                                    $('html, body').animate({
                                        scrollTop: $("#meet").offset().top
                                    }, 1000);
                                };
                            </script>
                            <button class="btn btn-large" onclick="meetMelodyBuddy()">Meet Melody Buddy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="meet" class="section white">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <p class="flow-text">
                        Melody Buddy is a musician's community that unshackles your potential.
                    </p>
                    <p class="flow-text">
                        Currently in pre-launch, Melody Buddy's mission is to build a community for musicians. We want
                        to become your source for <b>feedback</b> and <b>creative inspiration</b>.
                    </p>
                </div>
                <div class="col s12 m6">
                    <img src="{% static 'images/macbook-with-application.png' %}" style="width: 100%"
                         alt="melody buddy application"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <h3>Take your ideas and jam with anyone, anywhere</h3>
                    <p class="flow-text">
                        Find a musician down the street to or a vocalist in Paris, France. Melody Buddy lets
                        you spend less time searching for musicians and more time creating music. It's a win-win.
                    </p>
                </div>
                <div class="col s12 m6">
                    <img src="{% static 'images/global-collaboration.png' %}" style="width: 100%"
                         alt="global map of musicians"/>
                </div>
            </div>
        </div>
    </div>
    <div class="section white">
        <div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <img src="{% static 'images/country-girl-with-guitar.jpeg' %}" style="width: 100%"
                         alt="country girl with guitar"/>
                </div>
                <div class="col s12 m6">
                    <h3>Creative Source of Inspiration</h3>
                    <p class="flow-text">
                        Find musicians who inspire you. We believe that every musician brings their unique flavor to the
                        table when it comes to music.
                        Share you ideas and let the inspiration flow when others contribute back.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <p class="flow-text center">Sign up below to follow the progress of Melody Buddy and gain early access.</p>
            <div class="row">
                <form method="POST" action="{% url 'follow' %}" class="col s12 offset-m3 m6">
                    {% csrf_token %}
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email"/>
                    <button type="submit" class="btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div id="thank-you-modal" class="modal">
        <div class="modal-content">
            <h4>Thank You</h4>
            <p class="flow-text">
                Your interest in the Melody Buddy project is greatly appreciated.
            </p>

            <p class="flow-text">
                Sincerely,<br/>
                The Melody Buddy Team
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close btn-flat">Close</a>
        </div>
    </div>
</main>

{% include 'base_site_footer.html' %}
<script>
    $(document).ready(function () {
        var show_thank_you_modal = !!window.location.search.match(/subscribed/);

        if (show_thank_you_modal) {
            $('#thank-you-modal').modal('open');
        }
    });
</script>
</body>
</html>