{% load static %}

{% block title %}{% endblock %}
<!DOCTYPE html>
<html>
<head>
    <title>Melody Buddy | Home</title>
    {% include 'base_head.html' %}
</head>
<body>

{% include 'base_site_header.html' %}

<main id="home">
    <div class="parallax-container">
        <div class="headline-container container">
            <h1 id="headline">Write music without limitations</h1>
        </div>
        <div class="parallax">
            <img src="{% static 'images/apple-laptop-macbook-pro-notebook.jpg' %}"
                 alt="apple laptop macbook pro notebook"/>
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header">Parallax</h2>
            <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
                varius ut dui a faucibus.
                Pellentesque
                metus erat, ultricies eget nisl quis, tempor sollicitudin mauris. Vestibulum vel eleifend
                turpis.
                Donec vel orci in purus volutpat finibus vel sit amet ligula. Vivamus odio lectus,
                scelerisque
                vitae
                dolor eu, fermentum sagittis risus. Sed a nunc facilisis, facilisis lacus non, fermentum
                eros.
                Curabitur eu odio egestas, auctor mauris ac, commodo tellus. Quisque lacinia nulla interdum,
                congue
                ipsum a, varius neque. Integer varius venenatis tincidunt. Nulla blandit, arcu at convallis
                congue,
                purus eros varius eros, ac malesuada ex odio placerat neque. Cras nec auctor dui, sed
                laoreet
                mauris. Aliquam arcu ipsum, euismod sit amet tortor eu, vulputate dignissim risus. Praesent
                finibus
                velit sed enim pellentesque scelerisque. Vivamus mattis lacinia arcu, eget pharetra enim
                hendrerit
                id. Sed luctus mollis nulla eget dignissim.

                Nulla id pretium quam. Praesent nulla neque, ultrices sed turpis id, iaculis fermentum nibh.
                Vestibulum sodales malesuada laoreet. Morbi fermentum lacinia augue vitae interdum. Praesent
                arcu
                ante, hendrerit accumsan consectetur in, pretium id nisi. Aenean vitae eros varius, blandit
                risus a,
                mattis ex. Sed dictum fringilla ipsum nec dapibus. Fusce et tristique leo. Ut varius vel
                libero
                sit
                amet iaculis. Integer in fermentum risus.

                Nulla facilisi. Integer ipsum massa, finibus ut viverra quis, sagittis a felis. Praesent
                pulvinar,
                felis a convallis accumsan, mi mi tristique nibh, eget scelerisque metus lectus ut sem.
                Aliquam
                iaculis dictum ornare. Maecenas vestibulum sem non congue fermentum. Etiam quis fermentum
                dolor.
                Aliquam erat volutpat. Etiam ut arcu auctor, pretium lorem sit amet, scelerisque diam.

                Cras tincidunt ullamcorper pellentesque. Phasellus laoreet nunc a metus blandit, quis
                sagittis
                ligula tincidunt. Etiam mollis neque a nisl vestibulum, a semper augue efficitur. Aliquam
                quis
                nulla
                id libero luctus tincidunt. Maecenas commodo ac orci vitae egestas. Fusce laoreet blandit
                tortor,
                nec consectetur lacus dignissim vitae. Etiam euismod mollis lacus vel commodo. Mauris sed
                auctor
                diam. Morbi pulvinar nulla neque, nec faucibus nulla imperdiet ac. Donec ac enim consequat,
                mollis
                odio id, pulvinar nisi. Fusce scelerisque, nisi sit amet imperdiet maximus, mi est fringilla
                felis,
                sed placerat libero nulla quis lectus. Aliquam vel feugiat velit. Sed lacinia rhoncus augue.

                Duis semper sapien metus, a egestas ligula gravida eget. Quisque interdum sapien quis lorem
                laoreet,
                quis cursus leo convallis. In lobortis, lacus sit amet pellentesque finibus, odio mi rhoncus
                nisl,
                eu posuere magna felis sed ex. Nam id facilisis justo, sed consequat ligula. Aenean sapien
                magna,
                posuere ultrices urna sit amet, rhoncus tempor elit. Nam magna risus, iaculis at euismod ut,
                iaculis
                sed enim. Maecenas dapibus pellentesque eleifend. Morbi nec blandit lacus. Nunc a dui eget
                erat
                aliquet aliquam sit amet vitae arcu. Nulla et dapibus sem.</p>
        </div>
    </div>
    <div class="section">
        <div class="row container">
            <p class="grey-text text-darken-3 lighten-3">

            </p>
            <a href="{% url 'accounts:registration' %}" class="btn">Sign up for free &rarr;</a>
        </div>
    </div>
</main>

{% include 'base_site_footer.html' %}
</body>
</html>