.skill-addon,
.skill-addon:focus,
.skill-addon:active,
.skill-addon:hover {
  color: white;
}
.media-player {
  margin: 0 auto;
  width: 1200px;
}
.media-player .progress {
  padding: 0;
  width: 1000px;
  margin-top: 15px;
  margin-left: 170px;
}
.media-player .progress-bar {
  transition: none;
}
.media-player__controls {
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-left: 170px;
  width: 1000px;
}
.media-player__controls .media-player__control {
  margin-right: 10px;
  float: left;
  font-size: 20px;
  cursor: pointer;
}
.media-player__track {
  height: 45px;
  width: 100%;
}
.media-player__track .media-player__track-waveform-container,
.media-player__track .media-player__track-title,
.media-player__track .media-player__track-controls {
  display: inline-block;
  vertical-align: middle;
}
.media-player__track:first-of-type {
  height: 60px;
}
.media-player__track:first-of-type .media-player__track-waveform-container {
  height: 60px;
}
.media-player__track:first-of-type .media-player__track-waveform {
  padding-top: 15px;
}
.media-player__track:last-of-type {
  height: 60px;
}
.media-player__track:last-of-type .media-player__track-waveform-container {
  height: 60px;
}
.media-player__track:last-of-type .media-player__track-waveform {
  padding-bottom: 15px;
}
.media-player__track-waveform-container {
  height: 45px;
  background: #555;
  width: 1000px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  position: relative;
}
.media-player__track-changer {
  position: absolute;
  top: 5px;
  z-index: 100;
}
.media-player__track-title {
  height: 45px;
  font-weight: bold;
  margin: 0;
  vertical-align: middle;
  width: 85px;
  display: inline-block;
}
.media-player__track-controls {
  height: 45px;
  padding: 0;
  list-style: none;
  margin: 0;
  width: 85px;
  display: inline-block;
}
.media-player__track-control {
  float: left;
  margin-left: 10px;
}
.media-player__track-control .btn {
  padding: 3px 6px;
  display: inline;
}
.media-player .media-player__track--no-media .media-player__track-waveform {
  padding-top: 15px;
}
.skills {
  margin-top: 15px;
}
.skill {
  padding: 10px;
  margin-right: 10px;
}
.skill:last-of-type {
  margin-right: 0;
}
.skill-addon {
  margin-left: 5px;
}
.jumbotron {
  background: #532f8c;
  color: white;
  padding-bottom: 80px;
}
.jumbotron .btn-primary {
  background: #845ac7;
  border-color: #845ac7;
}
.jumbotron .btn-primary:hover {
  background: #7646c1;
}
.jumbotron p {
  color: #d9ccee;
  max-width: 75%;
  margin: 1em auto 2em;
}
.navbar + .jumbotron {
  margin-top: -20px;
}
.jumbotron .lang-logo {
  display: block;
  background: #a94442;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white;
}
.jumbotron .lang-logo img {
  max-width: 100%;
}
.clickable {
  cursor: pointer !important;
}
.container {
  width: 1200px !important;
}
.site-footer {
  margin-top: 20px;
}
form .errors {
  color: #a94442;
  padding: 5px;
  margin-top: 5px;
}
.song__requested-tracks {
  padding: 0;
  list-style: none;
}
.song__requested-track {
  margin-right: 10px;
  float: left;
}
.song__meta {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}
.song__meta li {
  float: left;
  margin-right: 20px;
}
.content-block {
  margin-top: 15px;
}
.site-header .gravatar img {
  margin-top: 8px;
}
.site-header .gravatar .dropdown-icon {
  vertical-align: middle;
  margin-top: 5px;
}
