form .errors {
    color: #a94442;
    padding: 5px;
    margin-top: 5px;
}

.songs-meta {
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.songs-meta li {
    float: left;
    margin-right: 20px;
}