@import (reference) "./includes/_colors";
@import (reference) "./includes/_measurements";
@import "./_utilities";
@import "./theme";
// components
@import "./media_player";
// apps
@import "./users/index";
@import "./comments";

.site-footer {
    margin-top: @margin-large;
}

main.container {
    margin-top: 50px;
}

form .errors {
    color: @color-danger;
    padding: @padding-extra-small;
    margin-top: -@margin-default;
}

.song__meta {
    list-style: none;
    padding-left: 0;
    margin-top: @margin-extra-small;
    margin-bottom: @margin-extra-small;
    display: block;
}

.song__meta li {
    float: left;
    margin-right: @margin-large;
}

.collection {
    footer {
        margin-top: @margin-default;
    }
}

.content-block {
    margin-top: @margin-default;
}

.site-header .gravatar {
    position: relative;

    img {
        position: relative;
        top: 12px;
    }

    .dropdown-content {
        min-width: 200px;
        right: 0;
    }
}

.message {
    &.message--success {
        &:extend(.bg-color--success);
        &:extend(.text-color--inverse);
    }

    &.message--error {
        &:extend(.bg-color--danger);
        &:extend(.text-color--inverse);
    }

    &.message--info {
        &:extend(.bg-color--info);
        &:extend(.text-color--inverse);
    }

    &.message--warning {
        &:extend(.bg-color--warning);
        &:extend(.text-color--inverse);
    }

    .message__close {
        &:extend(.text-color--inverse);
    }
}