@import (reference) "./includes/_colors";
@import (reference) "./includes/_measurements";
@import "./_utilities";
@import "./theme";
// components
@import "./media_player";
// apps
@import "./users/index";
@import "./comments";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

main.container {
    margin-top: 50px;
}

form {
    .errors, .errorlist {
        color: @color-danger;
        padding: 0 @padding-large @padding-large;
        margin-top: -@margin-default;
    }
}

.wizard {
    background: transparent !important;
}

.wizard__steps {
}

.wizard__step {
    background-color: #3f51b5;
    float: none;
    padding: 0;
    border-right: @border-width-small solid rgba(0,0,0,0.14);

    &:last-of-type {
        border-right: none;
    }

    a {
        padding: 0 @padding-default;
        font-size: 1rem;
        display: block;
        cursor: pointer;

        &:hover {
            background: none;
        }
    }
}

.wizard__step--active {
    //background-color: rgba(0, 0, 0, 0.1);
}

.wizard__step--future-step, .wizard__step--past-step {
    &:extend(.text-color--base);
    background: transparent;

    a {
        &:extend(.text-color--base);
    }
}

.collection {
    footer {
        margin-top: @margin-default;
    }
}

.content-block {
    margin-top: @margin-default;
}

.site-header .gravatar {
    position: relative;

    img {
        position: relative;
        top: 12px;
    }

    .dropdown-content {
        min-width: 200px;
        right: 0;
    }
}

.site-footer {
    &:extend(.text-color--muted);
    margin-top: @margin-large;
    padding-top: @padding-large;
}

.site-footer__copyright {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}

.message {
    &.message--success {
        &:extend(.bg-color--success);
        &:extend(.text-color--inverse);
    }

    &.message--error {
        &:extend(.bg-color--danger);
        &:extend(.text-color--inverse);
    }

    &.message--info {
        &:extend(.bg-color--info);
        &:extend(.text-color--inverse);
    }

    &.message--warning {
        &:extend(.bg-color--warning);
        &:extend(.text-color--inverse);
    }

    .message__close {
        &:extend(.text-color--inverse);
    }
}