{% load widget_tweaks %}

<form action="" method="post">
    {% if form.errors %}
        <div class="card-panel message message--error">Please correct the errors below:</div>
    {% endif %}
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
            {% render_field form.instrument %}
            <!-- label must come after form element for materialize css requirements -->
            <label for="id_instrument">Instrument</label>
            {{ form.instrument.errors }}
        </div>
    </div>
    <button class="btn btn--default" type="submit">Save</button>
</form>