{% extends 'base.html' %}

{% load widget_tweaks %}
{% load instrument_name %}

{% block title %}{{ track.instrument }} | Delete{% endblock %}

{% block content %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% url 'users:songs' user.username %}" class="breadcrumb">My Songs</a>
                <a href="{% url 'songs:edit' song.pk %}" class="breadcrumb">{{ song.title }}</a>
                <a href="{% url 'songs:contributor_update' song.pk track.pk %}"
                   class="breadcrumb">{{ track.instrument | instrument_name }}</a>
            </div>
        </div>
    </nav>


    <div class="card">
        <div class="card-content">
            <span class="card-title">Delete "{{ track.instrument | instrument_name }}"</span>
            <p>Are you sure you want to delete "{{ track.instrument | instrument_name }}"?</p>
        </div>
        <div class="card-action">
            <a href="{% url 'songs:contributor_update' song.pk track.pk %}">Cancel</a>
            <form action="" method="post" style="display: inline">
                {% csrf_token %}

                <button type="submit" class="btn red">Confirm</button>
            </form>
        </div>
    </div>
{% endblock %}