{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <main class="container">
        <ol class="breadcrumb">
            <li><a href="{% url 'songs:index' %}">Songs</a></li>
            <li class="active">{{ song.title }}</li>
        </ol>
        <div class="page-header">
            <h1>{{ song.title }}
                <small>
                    <a href="{% url 'users:songs' song.composer %}">{{ song.composer }}</a></small>
            </h1>
        </div>
    </main>
{% endblock %}