{% load avatar_image %}
{% load instrument_name %}

<div class="media-player">
    {% if tracks %}
        <script>
            $(document).ready(function () {
                window.bm.mediaPlayer = new bm.components.MediaPlayer(
                    $(".media-player"),
                        {% if tracks_json %}{{ tracks_json | safe }}{% else %}[]{% endif %},
                        {% if track_request_json %}{{ track_request_json | safe }}{% else %}[]{% endif %});
            })
        </script>
        <section class="media-player___tracks">
            {% for track in tracks %}
                <article data-track-id="{{ track.pk }}"
                         class="media-player__track row {% if not track.audio_url %}media-player__track--no-media{% endif %}">
                    <div class="media-player__track-meta-container col s3">
                        <div class="media-player__track-artist">
                            {% if track.contributed_by %}
                                <a href="{% url 'users:detail' track.contributed_by.username %}">
                                    {% avatar_image track.contributed_by size=40 %}
                                </a>
                            {% else %}
                                <a href="{% url 'users:detail' track.created_by.username %}">
                                    {% avatar_image track.created_by size=40 %}
                                </a>
                            {% endif %}
                        </div>
                        <div class="media-player__track-meta">
                            <div class="media-player__track-instrument-title">
                                {% if song.created_by == request.user %}
                                    {% if track.public %}
                                        <a href="{% url 'songs:contributor_update' song.pk track.pk %}">
                                            {{ track.instrument | instrument_name }}
                                        </a>
                                    {% else %}
                                        <a href="{% url 'songs:track_update' song.pk track.pk %}">
                                            {{ track.instrument | instrument_name }}
                                        </a>
                                    {% endif %}
                                {% else %}
                                    {{ track.instrument | instrument_name }}
                                {% endif %}
                            </div>
                            <ul class="media-player__track-controls clearfix">
                                <li class="media-player__track-control media-player__track-control--mute">
                                    <button class="btn btn-flat btn-small media-player__track-control-action"
                                            {% if not track.audio_url %}disabled{% endif %}>
                                        <i class="material-icons">volume_mute</i>
                                    </button>
                                </li>
                                <li class="media-player__track-control media-player__track-control--solo">
                                    <button class="btn btn-flat btn-small media-player__track-control-action"
                                            {% if not track.audio_url %}disabled{% endif %}>
                                        <i class="material-icons">headset</i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="media-player__track-waveform-container col s9">
                        <div id="waveform-{{ track.pk }}" class="media-player__track-waveform">
                            {% if not track.audio_url %}
                                {% if not hide_track_request_submit %}
                                    <a class="btn" href="{% url 'songs:track_request_create' song.pk track.pk %}">
                                        Submit Track</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </section>
        <div class="row media-player__loading-progress">
            <div class="col s9 offset-s3">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="media-player__controls col s9 offset-s3">
                <li class="media-player__control media-player__control--restart">
                    <i class="material-icons">replay</i>
                </li>
                <li class="media-player__control media-player__control--play">
                    <i class="material-icons">play_arrow</i>
                </li>
                <li class="media-player__control media-player__control--pause">
                    <i class="material-icons">pause</i>
                </li>
                <li class="media-player__control media-player__control--duration"></li>
            </ul>
        </div>
    {% else %}
        <p class="center">
            <i class="glyphicon glyphicon-music"></i>
            <b>No tracks uploaded yet</b>
        </p>
    {% endif %}
</div>