{% extends "songs/song_base.html" %}
{% load staticfiles %}
{% load gravatar %}

{% block title %}Songs{% endblock %}

{% block content %}
    <h1>Songs</h1>
    <hr/>
    {% for song in song_list %}
        <div class="list-group-item">
            <div class="media">
                <div class="media-left">
                    <a href="{% url 'users:songs' song.created_by %}">
                        <img src="{% gravatar_url song.created_by.email 50 %}" title="{{ song.created_by.username }}"/>
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading song__title">
                        <a href="{% url "songs:detail" song.id %}">{{ song.title }}</a>
                    </h2>
                    {% if song.description %}
                        <p class="song__description">{{ song.description | truncatechars:100 }}</p>
                    {% endif %}
                </div>
            </div>
            <ul class="song__meta clearfix">
                <li>
                    <i class="glyphicon glyphicon-heart"></i> {{ song.likes }}
                </li>
                <li>
                    <i class="glyphicon glyphicon-music"></i> {{ song.views }}
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
