{% extends 'songs/song_wizard_base.html' %}

{% block title %}{{ song.title }}{% endblock %}

{% block wizard_primary_content %}
    <span class="card-title">Your Tracks</span>
    <p class="wizard__description">Please upload each instrument track you have recorded. Other musicians can then
        contribute to your tracks.</p>
    {% include 'songs/track_form.html' %}
{% endblock %}

{% block wizard_actions %}
    <a href="{% url 'songs:wizard_create_confirm' song.pk %}" class="btn btn-flat">
        &larr; Song Information
    </a>
    <a href="{% url 'songs:wizard_contributor_create' song.pk %}" class="btn btn--default"
       {% if tracks.count == 0 %}disabled="disabled"{% endif %}>
        Add Contributor Tracks &rarr;
    </a>
{% endblock %}