{% extends "songs/song_base.html" %}

{% block title %}{{ song.title }}{% endblock %} }}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'songs:index' %}">Songs</a></li>
        <li class="active">{{ song.title }}</li>
    </ol>
    <div class="page-header">
        <h1>{{ song.title }}
            <small>
                <a href="{% url 'users:songs' song.created_by %}">{{ song.created_by }}</a>
            </small>
        </h1>
    </div>
    <bm-media-player title="{{ song.title }}" tracks="{{ tracks }}"></bm-media-player>
{% endblock %}