{% extends 'songs/song_wizard_base.html' %}

{% block title %}{{ song.title }}{% endblock %}

{% block wizard_primary_content %}
    <span class="card-title">Contributors</span>
    <p class="wizard__description">What instruments would you like other musicians to contribute to this song?</p>
    {% include 'songs/contributor_form.html' %}
{% endblock %}

{% block wizard_actions %}
    <a href="{% url 'songs:wizard_track_create' song.pk %}" class="btn btn-flat">
        &larr; Your Tracks
    </a>
    <a href="{% url 'songs:wizard_complete' song.pk %}" class="btn">
        Complete &rarr;
    </a>
{% endblock %}