{% extends "songs/song_base.html" %}
{% load staticfiles %}

{% block title %}Songs{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li class="active">Songs</li>
    </ol>
    {% for song in song_list %}
        <div class="list-group-item">
            <h2 class="list-group-item-heading">
                <a href="{% url 'songs:detail' song.id %}">{{ song.title }}</a>
            </h2>
            <p><a href="{% url 'users:songs' song.created_by.username %}">&nbsp;{{ song.created_by.username }}</a></p>
            <ul class="songs-meta clearfix">
                <li>
                    <i class="glyphicon glyphicon-heart"></i> {{ song.likes }}
                </li>
                <li>
                    <i class="glyphicon glyphicon-music"></i> {{ song.views }}
                </li>
            </ul>
        </div>
    {% endfor %}
{% endblock %}
