{% extends 'base.html' %}

{% block title %}Edit - {{ song.title }}{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'users:songs' user.username %}">My Songs</a></li>
        <li class="active">{{ song.title }}</li>
    </ol>

    <form action="" method="post">
        <legend>Edit Song</legend>
        {% include 'songs/song_form.html' %}
        <hr/>
        {% if tracks %}
            <div class="media-player content-block">
            <section class="media-player___tracks">
                <script>
                    $(document).ready(function () {
                        window.bm.mediaPlayer = new bm.components.MediaPlayer($(".media-player"), {{ tracks_json | safe}});
                    })
                </script>
                {% for track in tracks %}
                    <article
                            class="media-player__track {% if not track.audio_url %}media-player__track--no-media{% endif %}"
                            data-track-id="{{ track.pk }}">

                        <div class="media-player__track-title">
                            <a href="{% url 'songs:track_update' song.id track.pk %}">{{ track.instrument }}</a>
                        </div>
                        <ul class="media-player__track-controls clearfix">
                            <li class="media-player__track-control media-player__track-control--mute">
                                <button type="button" class="btn btn-default"
                                        {% if not track.audio_url %}disabled{% endif %}>
                                    <i class="glyphicon glyphicon-volume-off"></i>
                                </button>
                            </li>
                            <li class="media-player__track-control media-player__track-control--solo">
                                <button type="button" class="btn btn-default"
                                        {% if not track.audio_url %}disabled{% endif %}>
                                    <i class="glyphicon glyphicon-headphones"></i>
                                </button>
                            </li>
                        </ul>
                        <div class="media-player__track-waveform-container">
                            {% if not track.audio_url %}
                                {% if track.trackrequest_set.all %}
                                    <select class="media-player__track-changer">
                                        {% for track_request in track.trackrequest_set.all %}
                                            <option value="{{ track_request.audio_url }}">{{ track_request.created_by }}
                                                - {{ track_request.audio_name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            {% endif %}
                            <div id="waveform-{{ track.pk }}" class="media-player__track-waveform">
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </section>
            <section class="media-player__progress">
                <div class="progress">
                    <div id="progress" class="progress-bar" role="progressbar"></div>
                </div>
            </section>
            <ul class="media-player__controls clearfix">
                <li class="media-player__control media-player__control--restart">
                    <i class="glyphicon glyphicon-step-backward"></i>
                </li>
                <li class="media-player__control media-player__control--play">
                    <i class="glyphicon glyphicon-play"></i>
                </li>
                <li class="media-player__control media-player__control--pause">
                    <i class="glyphicon glyphicon-pause"></i>
                </li>
                <li class="media-player__control media-player__control--duration"></li>
            </ul>
        {% else %}
            <p>
                <i class="glyphicon glyphicon-music"></i>
                <b>No tracks uploaded yet</b>
            </p>
        {% endif %}
        <div class="panel-footer">
            <a href="{% url 'songs:download' song.id %}" class="btn btn-primary">
                <i class="glyphicon glyphicon-download"></i> Download
            </a>
            <a href="{% url "songs:track_create" song.id %}" class="btn btn-warning">
                <i class="glyphicon glyphicon-plus"></i> Add Track
            </a>
        </div>
        </div>
        <hr/>
        <a class="btn btn-danger" href="{% url 'songs:delete' song.id %}">
            <i class="glyphicon glyphicon-trash"></i> Delete
        </a>
    </form>
{% endblock %}