{% extends "songs/song_base.html" %}

{% block title %}{{ song.title }}{% endblock %} }}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'songs:index' %}">Songs</a></li>
        <li class="active">{{ song.title }}</li>
    </ol>
    <div class="page-header">
        <h1>{{ song.title }}
            <small>
                <a href="{% url 'users:songs' song.composer %}">{{ song.composer }}</a>
            </small>
        </h1>
    </div>
    <div class="media-player">
        <div id="waveform">
            <div class="progress">
                <div id="progress" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
        <ul class="media-player__controls">
            <li class="media-player__control media-player__control-play">
                <i class="glyphicon glyphicon-play"></i>
            </li>
            <li class="media-player__control media-player__control-pause">
                <i class="glyphicon glyphicon-pause"></i>
            </li>
        </ul>
    </div>
    <script>
        var ctx = document.createElement('canvas').getContext('2d');
        var linGrad = ctx.createLinearGradient(0, 64, 0, 200);
        linGrad.addColorStop(0.5, 'rgba(225, 225, 225, 1.000)');
        linGrad.addColorStop(0.5, 'rgba(183, 183, 183, 1.000)');

        var wavesurfer = WaveSurfer.create({
            container: '#waveform',
            waveColor: linGrad,
            progressColor: 'hsla(200, 100%, 30%, 0.5)',
            cursorColor: '#fff',
            normalize: true,
            barWidth: 3
        });

        wavesurfer.on('ready', function () {
            $('.progress').hide();
            var mediaPlayer = new MediaPlayer(wavesurfer);
        });

        {#        wavesurfer.on("audioprocess", function () {#}
        {#            console.log("processing audio");#}
        {#        });#}

        wavesurfer.on("error", function (error) {
            console.error("error processing video", error);
        });

        wavesurfer.on('loading', function (percents) {
            $('.progress .progress-bar').css({
                width: percents + "%"
            })
        });

        wavesurfer.load("{{ song.media_url }}");

        function MediaPlayer(audio) {
            this.audio = audio;
            this.$element = $('.media-player');
            this.$controls = {
                "$play": this.$element.find(".media-player__control-play"),
                "$pause": this.$element.find(".media-player__control-pause")
            };

            this.$controls.$pause.on("click", this.pause.bind(this));
            this.$controls.$play.on("click", this.play.bind(this));

            return this;
        }

        MediaPlayer.prototype.play = function () {
            this.audio.play();
        };

        MediaPlayer.prototype.pause = function () {
            this.audio.pause();
        };
    </script>
{% endblock %}