{% extends "base.html" %}
{% load gravatar %}
{% load comments %}

{% block title %}{{ song.title }}{% endblock %} }}

{% block content %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a href="{% url 'songs:index' %}" class="breadcrumb">Songs</a>
                <a href="#!" class="breadcrumb">{{ song.title }}</a>
            </div>
        </div>
    </nav>

    <div class="media">
        <div class="media-left">
            <a href="{% url 'users:detail' song.created_by %}">
                <img src="{% gravatar_url song.created_by.email 50 %}" title="{{ song.created_by.username }}"/>
            </a>
        </div>
        <div class="media-body">
            <h1 class="media-heading song__title">{{ song.title }}
                {% if request.user == song.created_by %}
                    <a href="{% url 'songs:edit' song.pk %}" class="btn btn-primary btn-xs">
                        <i class="glyphicon glyphicon-pencil"></i>&nbsp;Edit
                    </a>
                {% endif %}
            </h1>
            <p class="song__description">{{ song.description }}</p>
        </div>
    </div>
    {% include 'songs/media_player.html' %}
    <div class="well">
        <a href="{% url 'songs:download' song.pk %}">
            <button type="button" class="btn btn-primary">
                <i class="glyphicon glyphicon-download"></i> Download
            </button>
        </a>
    </div>
    <div class="comments">
        {% get_comment_count for song as song_comment_count %}
        <h3 class="comments__title">Comments ({{ song_comment_count }})</h3>
        {% render_comment_form for song %}
        {% render_comment_list for song %}
    </div>
{% endblock %}