{% extends 'base.html' %}

{% block title %}Edit - {{ song.title }}{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'users:songs' user.username %}">My Songs</a></li>
        <li class="active">{{ song.title }}</li>
    </ol>

    <form action="" method="post">
        <legend>Edit Song</legend>
        {% include 'songs/song_form.html' %}
        <hr/>
        {% include 'songs/media_player.html' with add_track_action=True %}
        <hr/>
        <a class="btn btn-danger" href="{% url 'songs:delete' song.id %}">
            <i class="glyphicon glyphicon-trash"></i> Delete
        </a>
    </form>
{% endblock %}