{% extends 'songs/song_wizard_base.html' %}

{% block title %}{{ song.title }}{% endblock %}

{% block wizard_primary_content %}
    <span class="card-title">Song Details</span>
    <p class="wizard__description">Tell us about your song. What is your inspiration for creating it?</p>
    {% include 'songs/song_form.html' %}
{% endblock %}

{% block wizard_actions %}
    <a href="{% url 'songs:wizard_track_create' song.pk %}" class="btn btn--default">
        Add Your Tracks &rarr;
    </a>
{% endblock %}