{% load widget_tweaks %}

{% if form.errors %}
    <div class="alert alert-danger">Please correct the errors below:</div>
{% endif %}
{% csrf_token %}
<div class="form-group row">
    <div class="col-sm-6">
        <label for="id_instrument">Instrument</label>
        {% render_field form.instrument class+="form-control" required="required" %}
        {% if form.title.errors %}
            <p class="errors">{{ form.instrument.errors.as_text }}</p>
        {% endif %}
    </div>
</div>
<div class="form-group row">
    <script>
        $(document).ready(function () {
            var $publicCheckBox = $("#id_public");

            function publicClickHandler() {
                var $element = $(this),
                        trackIsPublic = $element.prop("checked");

                if (trackIsPublic) {
                    $(".js-audio-file-container").hide();
                } else {
                    $(".js-audio-file-container").show();
                }
            }

            publicClickHandler.bind($publicCheckBox)();
            $publicCheckBox.on("click", publicClickHandler);
        });
    </script>
    <div class="col-sm-6">
        <label for="id_public">Request Tracks {% render_field form.public %}</label>
        <span class="help-block">Allow other users to upload their work and collaborate with your song</span>
        {% if form.public.errors %}
            <p class="errors">{{ form.public.errors.as_text }}</p>
        {% endif %}
    </div>
</div>
<div class="form-group row js-audio-file-container">
    <div class="col-sm-6">
        <label for="id_track">Audio File</label>
        <input type="file" class="js-track-upload__media" id="id_track" name="audio" accept=".mp3"/>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-6">
        <label for="id_license">License</label>
        {% render_field form.license class+="form-control" %}
        <span class="help-block">
                    <a href="#" data-toggle="modal" data-target="#licenseModal">view license details</a>
                </span>
        {% if form.license.errors %}
            <p class="errors">{{ form.license.errors.as_text }}</p>
        {% endif %}
        <div class="modal fade" id="licenseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ track.get_license_information.name }}</h4>
                        <a href="{{ track.get_license_information.link }}" target="_blank">canonical URL for the
                            license</a>
                    </div>
                    <pre>{{ track.get_license_information.text }}</pre>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <button class="btn btn-primary" type="submit">Save</button>
</div>