{% extends "songs/song_base.html" %}
{% load gravatar %}

{% block title %}{{ song.title }}{% endblock %} }}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'songs:index' %}">Songs</a></li>
        <li><a href="{% url 'songs:detail' song.pk %}">{{ song.title }}</a></li>
        <li class="active">{{ track_request.track.instrument }}</li>
    </ol>
    {##}
    {#    {% if tracks %}#}
    {#        <script>#}
    {#            $(document).ready(function () {#}
    {#                window.bm.mediaPlayer = new bm.components.MediaPlayer($(".media-player"), {{ tracks_json | safe}});#}
    {#            })#}
    {#        </script>#}
    {#        <div class="media-player content-block">#}
    {#            <section class="media-player___tracks">#}
    {#                {% for track in tracks %}#}
    {#                    <article#}
    {#                            class="media-player__track {% if not track.audio_url %}media-player__track--no-media{% endif %}"#}
    {#                            data-track-id="{{ track.pk }}">#}
    {##}
    {#                        <div class="media-player__track-title">{{ track.instrument }}</div>#}
    {#                        <ul class="media-player__track-controls clearfix">#}
    {#                            <li class="media-player__track-control media-player__track-control--mute">#}
    {#                                <button type="button" class="btn btn-default"#}
    {#                                        {% if not track.audio_url %}disabled{% endif %}>#}
    {#                                    <i class="glyphicon glyphicon-volume-off"></i>#}
    {#                                </button>#}
    {#                            </li>#}
    {#                            <li class="media-player__track-control media-player__track-control--solo">#}
    {#                                <button type="button" class="btn btn-default"#}
    {#                                        {% if not track.audio_url %}disabled{% endif %}>#}
    {#                                    <i class="glyphicon glyphicon-headphones"></i>#}
    {#                                </button>#}
    {#                            </li>#}
    {#                        </ul>#}
    {#                        <div class="media-player__track-waveform-container">#}
    {#                            <div id="waveform-{{ track.pk }}" class="media-player__track-waveform">#}
    {#                                {% if not track.audio_url %}#}
    {#                                    <a class="btn btn-success btn-xs media-player__submit-track-request"#}
    {#                                       href="{% url 'songs:track_request_create' song.pk track.pk %}">Submit#}
    {#                                        Track</a>#}
    {#                                {% endif %}#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </article>#}
    {#                {% endfor %}#}
    {#            </section>#}
    {#            <div class="media-player__progress">#}
    {#                <div class="progress">#}
    {#                    <div id="progress" class="progress-bar" role="progressbar"></div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <ul class="media-player__controls clearfix">#}
    {#                <li class="media-player__control media-player__control--restart">#}
    {#                    <i class="glyphicon glyphicon-step-backward"></i>#}
    {#                </li>#}
    {#                <li class="media-player__control media-player__control--play">#}
    {#                    <i class="glyphicon glyphicon-play"></i>#}
    {#                </li>#}
    {#                <li class="media-player__control media-player__control--pause">#}
    {#                    <i class="glyphicon glyphicon-pause"></i>#}
    {#                </li>#}
    {#                <li class="media-player__control media-player__control--duration"></li>#}
    {#            </ul>#}
    {#        </div>#}
    {#        <div class="well">#}
    {#            <a href="{% url 'songs:download' song.id %}">#}
    {#                <button type="button" class="btn btn-primary">#}
    {#                    <i class="glyphicon glyphicon-download"></i> Download#}
    {#                </button>#}
    {#            </a>#}
    {#        </div>#}
    {#    {% endif %}#}
{% endblock %}