{% extends 'base.html' %}

{% block title %}Edit Track{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'users:profile_detail' user.username %}">My Songs</a></li>
        <li><a href="{% url 'songs:edit' song.id %}">{{ song.title }}</a></li>
        <li class="active">{{ track.instrument }}</li>
    </ol>

    <form action="" method="post" enctype="multipart/form-data">
        <legend>Edit Track</legend>
        {% include 'songs/track_form.html' %}
        <hr/>
        <div class="form-group">
            <a class="btn btn-danger" href="{% url 'songs:track_delete' song.id track.id %}">
                <i class="glyphicon glyphicon-trash"></i> Delete
            </a>
        </div>
    </form>
{% endblock %}