{% load widget_tweaks %}

<form action="" method="post" enctype="multipart/form-data">
    {% if form.errors %}
        <div class="card-panel message message--error">Please correct the errors below:</div>
    {% endif %}
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
            {% render_field form.instrument %}
            <!-- label must come after form element for materialize css requirements -->
            <label for="id_instrument">Instrument</label>
            {{ form.instrument.errors }}
        </div>
    </div>
    <div class="row">
        <div class="file-field input-field col s12">
            <div class="btn">
                <i class="material-icons left">audiotrack</i>
                <span>Audio File</span>
                <input type="file" id="id_track" name="audio" accept=".mp3" required/>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Upload the instrument track" required/>
            </div>
        </div>
    </div>
    <button class="btn" type="submit">Save</button>
</form>