{% extends 'base.html' %}

{% block title %}Create Track{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'users:songs' user.username %}">My Songs</a></li>
        <li><a href="{% url 'songs:edit' song.id %}">{{ song.title }}</a></li>
        <li class="active">Create Track</li>
    </ol>

    <form action="" method="post" enctype="multipart/form-data">
        <legend>Create Track</legend>
        {% include 'songs/track_form.html' %}
    </form>
{% endblock %}