{% extends "base.html" %}
{% load gravatar %}
{% load comments %}
{% load instrument_name %}

{% block title %}{{ song.title }} | {{ track_request.track.instrument | instrument_name }} | Track Request #
    {{ track_request.pk }}{% endblock %} }}

{% block content %}
    <nav>
        <div class="nav-wrapper">
            <div class="col s12">
                <a class="breadcrumb" href="{% url 'songs:detail' song.id %}">{{ song.title }}</a>
                <a class="breadcrumb" href="#!">{{ track_request.track.instrument | instrument_name }}</a>
                <a class="breadcrumb" href="#!">Track Request #{{ track_request.pk }}</a>
            </div>
        </div>
    </nav>
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ track_request.track.instrument | instrument_name }}</span>
            <p>
                contributed by <a
                    href="{% url 'users:detail' track_request.created_by %}">{{ track_request.created_by }}</a>
            </p>
            {% include 'songs/media_player.html' with hide_track_request_submit=True %}
        </div>
        {% if song.created_by == request.user %}
            <div class="card-action">
                <form action="{% url 'songs:track_request_approve' song.pk track_request.track.pk track_request.pk %}"
                      method="post" style="display: inline">
                    {% csrf_token %}
                    <button type="submit" class="btn green">
                        Approve
                    </button>
                </form>
                <form action="{% url 'songs:track_request_decline' song.pk track_request.track.pk track_request.pk %}"
                      method="post" style="display: inline">
                    {% csrf_token %}
                    <button type="submit" class="btn red">
                        Decline
                    </button>
                </form>
            </div>
        {% endif %}
    </div>
    <div class="card comments">
        {% get_comment_count for track_request as track_request_comment_count %}
        <div class="card-content">
            <span class="card-title">Comments ({{ track_request_comment_count }})</span>
            {% render_comment_form for track_request %}
            {% render_comment_list for track_request %}
        </div>
    </div>
{% endblock %}