{% load widget_tweaks %}

<form action="" method="post" enctype="multipart/form-data">
    {% if form.errors %}
        <div class="card-panel message message--error">Please correct the errors below:</div>
    {% endif %}
    {% csrf_token %}
    <div class="input-field">
        <label for="id_instrument">Instrument</label>
        {% render_field form.instrument %}
        {% if form.title.errors %}
            <div class="errors">{{ form.instrument.errors.as_text }}</div>
        {% endif %}
    </div>
    <p>
        <script>
            $(document).ready(function () {
                var $publicCheckBox = $("#id_public");

                function publicClickHandler() {
                    var $element = $(this),
                        trackIsPublic = $element.prop("checked");

                    if (trackIsPublic) {
                        $(".js-audio-file-container").hide();
                    } else {
                        $(".js-audio-file-container").show();
                    }
                }

                publicClickHandler.bind($publicCheckBox)();
                $publicCheckBox.on("click", publicClickHandler);
            });
        </script>
        {% render_field form.public %}
        <label for="id_public">Request track from contributor</label>
    <div><i>Allow other users to upload their work and collaborate with your song</i></div>
    {% if form.public.errors %}
        <div class="errors">{{ form.public.errors.as_text }}</div>
    {% endif %}
    </p>
    <div class="file-field input-field js-audio-file-container">
        <div class="btn">
            <span>Audio File</span>
            <input type="file" id="id_track" name="audio" accept=".mp3"/>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload the instrument track"/>
        </div>
    </div>
    <button class="btn" type="submit">Save</button>
</form>