{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    {% if form.errors %}
                        <div class="card-panel message message--error">Sorry, we weren't able to authenticate you with
                            the provided credentials
                        </div>
                    {% endif %}
                    <span class="card-title">Log In</span>

                    <form class="form" method="post" action="?next={{ next|default:"/" }}" autocomplete="off">
                        {% csrf_token %}
                        <div class="input-field">
                            <label for="id_username">Username</label>
                            {% render_field form.username %}
                            {{ form.username.errors }}
                        </div>
                        <div class="input-field">
                            <label for="id_password">Password</label>
                            {% render_field form.password %}
                            {{ form.password.errors }}
                        </div>
                        <button type="submit" class="btn">Log in</button>
                    </form>
                </div>
            </div>
            <p>If you don't have an account, you can <a href="{% url 'accounts:registration' %}">sign up</a> for one.
            </p>
            <a href="{% url 'accounts:password_reset' %}">forgot your password?</a>
        </div>
    </div>
{% endblock %}