{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-content">
            <span class="card-title">{% trans 'Password reset complete' %}</span>

            <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>

            <p>
                <a href="{% url 'accounts:login' %}">{% trans 'Log in' %}</a>
            </p>
        </div>
    </div>

{% endblock %}
