{% load widget_tweaks %}

{% if form.errors %}
    <div class="alert alert-danger">Please correct the errors below:</div>
{% endif %}

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you
    typed it in correctly.</p>

<form action="" method="post" class="form-horizontal">
    <fieldset>
        {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-6">
                <label for="id_old_password">Old password</label>
                {% render_field form.old_password class+="form-control" %}
                {% if form.old_password.errors %}
                    <p class="errors">{{ form.old_password.errors.as_text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="id_new_password1">New password</label>
                {% render_field form.new_password1 class+="form-control" %}
                {% if form.new_password1.errors %}
                    <p class="errors">{{ form.new_password1.errors.as_text }}</p>
                {% endif %}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-6">
                <label for="id_new_password2">New password confirmation</label>
                {% render_field form.new_password2 class+="form-control" %}
                {% if form.new_password2.errors %}
                    <p class="errors">{{ form.new_password2.errors.as_text }}</p>
                {% endif %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Change my password</button>
    </fieldset>
</form>