{% load widget_tweaks %}

{% if form.errors %}
    <div class="alert alert-danger">Please correct the errors below:</div>
{% endif %}

{% csrf_token %}
<fieldset>
    <div class="form-group">
        <div class="col-sm-6">
            <label for="id_first_name">First Name</label>
            {% render_field form.first_name class+="form-control" %}
            {% if form.first_name.errors %}
                <p class="errors">{{ form.first_name.errors.as_text }}</p>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label for="id_last_name">Last Name</label>
            {% render_field form.last_name class+="form-control" %}
            {% if form.last_name.errors %}
                <p class="errors">{{ form.last_name.errors.as_text }}</p>
            {% endif %}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-6">
            <label for="id_email">Email</label>
            {% render_field form.email class+="form-control" %}
            {% if form.email.errors %}
                <p class="errors">{{ form.email.errors.as_text }}</p>
            {% endif %}
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
</fieldset>