{% extends 'base.html' %}
{% load instrument_name %}

{% block title %}{{ user.username }} | Skills{% endblock %}

{% block content %}
    {% include 'accounts/navigation.html' with active_link='skills' %}
    <div class="card-panel">
        <a href="{% url 'accounts:skill_create' %}" class="btn">Add Skill</a>
        <div class="skills">
            {% for skill in skill_list %}
                <div class="chip">
                    {{ skill.name | instrument_name }}
                    <a href="{% url 'accounts:skill_delete' skill.pk %}" class="text-color--base">
                        <i class="close material-icons">close</i>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}