{% load widget_tweaks %}

<form action="" method="post">
    {% if form.errors %}
        <div class="card-panel message message--error">Please correct the errors below:</div>
    {% endif %}
    {% csrf_token %}
    <div class="input-field">
        {% render_field form.name %}
        <!-- label must come after form element for materialize css requirements -->
        <label for="id_name">Name</label>
        {{ form.name.errors }}
    </div>
    <button class="btn" type="submit">Save</button>
</form>