{% extends 'base.html' %}

{% load widget_tweaks %}
{% load instrument_name %}

{% block title %}Delete Skill{% endblock %}

{% block content %}
    {% include 'accounts/navigation.html' with active_link='skills' %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">Delete Skill</span>
            <p>Are you sure you want to delete the skill, "{{ skill.name | instrument_name }}"?</p>
        </div>
        <div class="card-action">
            <form class="form" action="" method="post">
                {% csrf_token %}
                <a href="{% url 'accounts:skills' %}" class="text-color--primary">Cancel</a>
                <button type="submit" class="btn red">Confirm</button>
            </form>
        </div>
    </div>
{% endblock %}