@import (reference) "./includes/_colors";
@import (reference) "./includes/_measurements";

@import "./_utilities";
@import "./theme";

// components
@import "./media_player";

// apps
@import "./users/index";

.container {
    width: @site-width !important;
}

.site-footer {
    margin-top: @margin-large;
}

form .errors {
    color: @color-danger;
    padding: @padding-extra-small;
    margin-top: @margin-extra-small;
}

.song__requested-tracks {
    padding: 0;
    list-style: none;
}

.song__requested-track {
    margin-right: @margin-small;
    float: left;
}

.song__meta {
    list-style: none;
    padding-left: 0;
    margin-top: @margin-extra-small;
    margin-bottom: @margin-extra-small;
    display: block;
}

.song__meta li {
    float: left;
    margin-right: @margin-large;
}

.content-block {
    margin-top: @margin-default;
}

.site-header .gravatar {
    img {
        margin-top: 8px;
    }

    .dropdown-icon {
        vertical-align: middle;
        margin-top: 5px;
    }
}