{% extends 'base.html' %}

{% block title %}Create Skill{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="{% url 'users:account-edit' user.username %}">Profile</a>
                </li>
                <li role="presentation" class="active">
                    <a href="{% url 'users:skill_index' user.username %}">Skills</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <form action="" method="post" class="form-horizontal">
                <legend>Create Skill</legend>
                {% include 'users/skill_form.html' %}
            </form>
        </div>
    </div>
{% endblock %}