{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Delete Skill{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills">
                <li role="presentation">
                    <a href="{% url 'users:account-edit' user.username %}">Profile</a>
                </li>
                <li role="presentation" class="active">
                    <a href="{% url 'users:skill_index' user.username %}">Skills</a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <form class="form" action="" method="post">
                <legend>Delete Skill"</legend>
                {% csrf_token %}
                <p>Are you sure you want to delete the skill, "{{ skill.get_name_display }}"?</p>
                <a href="{% url 'users:skill_index' user.username %}">Cancel</a>
                <button type="submit" class="btn btn-danger">Confirm</button>
            </form>
        </div>
    </div>
{% endblock %}