{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="#">{{ request.resolver_match.kwargs.username }}</a></li>
        <li class="active">Songs</li>
    </ol>

    {% if request.resolver_match.kwargs.pk == user.username %}
        <a class="btn btn-primary" href="{% url 'users:song_create' user.username %}">Create Song</a>
    {% endif %}
    <div class="page-header">
        <h1>Songs</h1>
    </div>
    <div class="list-group">
        {% for song in song_list %}
            {% if request.resolver_match.kwargs.username == user.username %}
                <a href="{% url 'users:song_update' user.username song.id %}" class="list-group-item">
            {% else %}
                <a href="{% url 'songs:detail' song.id %}" class="list-group-item">
            {% endif %}
            <h2 class="list-group-item-heading">{{ song.title }}</h2>
            <ul class="songs-meta clearfix">
                <li>
                    <i class="glyphicon glyphicon-heart"></i> {{ song.likes }}
                </li>
                <li>
                    <i class="glyphicon glyphicon-music"></i> {{ song.views }}
                </li>
            </ul>
        </a>
        {% endfor %}
    </div>
{% endblock %}
