{% extends "base.html" %}
{% load staticfiles %}

{% block title %}My Songs{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="#">{{ request.resolver_match.kwargs.username }}</a></li>
        <li class="active">Songs</li>
    </ol>

    {% if request.resolver_match.kwargs.username == user.username %}
        <a class="btn btn-primary" href="{% url 'songs:create' %}">Create Song</a>
    {% endif %}
    <div class="row">
        <section class="col-sm-6">
            <h2>Published</h2>
            <article class="list-group">
                {% for song in published_song_list %}
                    {% if request.resolver_match.kwargs.username == user.username %}
                        <a href="{% url 'users:song_update' user.username song.id %}" class="list-group-item">
                    {% else %}
                        <a href="{% url 'songs:detail' song.id %}" class="list-group-item">
                    {% endif %}
                <h2 class="list-group-item-heading">{{ song.title }}</h2>
                <ul class="song__meta clearfix">
                    <li>
                        <i class="glyphicon glyphicon-heart"></i> {{ song.likes }}
                    </li>
                    <li>
                        <i class="glyphicon glyphicon-music"></i> {{ song.views }}
                    </li>
                </ul>
                </a>
                {% endfor %}
            </article>
        </section>
        <section class="col-sm-6">
            <h2>Work In Progress</h2>
            {% for song in unpublished_song_list %}
                {% if request.resolver_match.kwargs.username == user.username %}
                    <a href="{% url 'users:song_update' user.username song.id %}" class="list-group-item">
                {% else %}
                    <a href="{% url 'songs:detail' song.id %}" class="list-group-item">
                {% endif %}
            <h2 class="list-group-item-heading">{{ song.title }}</h2>
            <ul class="song__meta clearfix">
                <li>
                    <i class="glyphicon glyphicon-heart"></i> {{ song.likes }}
                </li>
                <li>
                    <i class="glyphicon glyphicon-music"></i> {{ song.views }}
                </li>
            </ul>
            </a>
            {% endfor %}
        </section>
    </div>
{% endblock %}
