{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Create Track{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="{% url 'users:songs' user.username %}">My Songs</a></li>
        <li><a href="{% url 'users:song_update' user.username song.id %}">{{ song.title }}</a></li>
        <li class="active">Create Track</li>
    </ol>

    {% if form.errors %}
        <div class="alert alert-danger">Please correct the errors below:</div>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <legend>Create Track</legend>
        <div class="form-group">
            <label for="id_instrument">Instrument</label>
            {% render_field form.instrument class+="form-control" required="required" %}
            {% if form.title.errors %}
                <p class="errors">{{ form.instrument.errors.as_text }}</p>
            {% endif %}
        </div>
        <div class="form-group" ng-controller="bmTrackUpload as vm">
            <input type="hidden" id="id_media_url" name="media_url"
                   ng-model="vm.fileUrl"/>
            <label for="id_media_file">Audio File</label>
            <input type="file" id="id_media_file" required="required"
                   ng-model="vm.file"
                   onchange="angular.element(this).scope().vm.onTrackInputChange(this)"/>
            {% if form.title.errors %}
                <p class="errors">{{ form.media_url.errors.as_text }}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <button id="submit-track" class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>

    <script>
        (function () {
            "use strict";

            angular.module("bmApp").controller("bmTrackUpload", TrackUploadController);

            TrackUploadController.$inject = ["$scope", "$resource"];
            function TrackUploadController($scope, $resource) {
                var vm = this,
                        TrackUploadResource = $resource("/tracks/upload?file_name&file_type", {}, {});

                vm.id = $scope.$id;
                vm.onTrackInputChange = onTrackInputChange;

                ////////////

                function onTrackInputChange(element) {
                    var $element = $(element)[0];

                    $("#submit-track").prop('disabled', true);

                    try {
                        var file = $element.files[0];

                        if (!file) {
                            return console.error("No file selected.");
                        }

                        _getSignedRequest(file);
                    } catch (error) {
                        console.error(error);
                        $("#submit-track").prop('disabled', false);
                    }

                }

                // PRIVATE API

                function _getSignedRequest(file) {
                    TrackUploadResource.get({
                        "file_name": file.name,
                        "file_type": file.type
                    }).$promise.then(function (response) {
                        try {
                            _uploadFile(file, response.data, response.url);
                        } catch (error) {
                            console.error("Failed to parse song upload signed request", error);
                        }
                    }).catch(function (error) {
                        console.error("Could not get signed URL.", error);
                    });
                }

                function _uploadFile(file, s3Data, url) {
                    var xhr = new XMLHttpRequest();

                    xhr.open("POST", s3Data.url);

                    var postData = new FormData();
                    for (var key in s3Data.fields) {
                        postData.append(key, s3Data.fields[key]);
                    }
                    postData.append('file', file);

                    xhr.onreadystatechange = function () {
                        if (xhr.readyState === 4) {
                            if (xhr.status === 200 || xhr.status === 204) {
                                $("#id_media_url").val(url);
                                $("#submit-track").prop('disabled', false);
                            }
                            else {
                                console.error("Could not upload file.");
                            }
                        }
                    };
                    xhr.send(postData);
                }
            }
        })();
    </script>
{% endblock %}