{% extends 'base.html' %}
{% load instrument_name %}

{% block title %}{{ view_user.username }} | Songs{% endblock %}

{% block content %}
    <div class="user-profile row">
        <div class="col s3">
            {% include 'users/user_detail_sidebar.html' %}
        </div>
        <div class="col s9">
            {% include 'users/user_detail_navigation.html' with active_link='skills' %}
            <nav class="white">
                <div class="nav-wrapper">
                    <form action="{% url 'users:skills' view_user.username %}" method="GET">
                        <div class="input-field">
                            <input type="search" id="id_skill_name" name="name" placeholder="Search skills..."
                                   value="{{ request.GET.name }}"/>
                            <label for="id_skill_name">
                                <i class="material-icons text-color--base">search</i>
                            </label>
                        </div>
                    </form>
                </div>
            </nav>
            <div class="card">
                <div class="card-content">
                    {% if skill_list %}
                        <span class="card-title">Skills</span>
                        <table class="bordered">
                            <thread>
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thread>
                            <tbody>
                            {% for skill in skill_list %}
                                <tr>
                                    <td>
                                        {{ skill.name | instrument_name }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <span class="card-title">We couldn't find any skills.</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


