{% extends 'base.html' %}
{% load instrument_name %}

{% block title %}{{ view_user.username }} | Contributions{% endblock %}

{% block content %}
    <div class="user-profile row">
        <div class="col-sm-3">
            {% include 'users/user_detail_sidebar.html' %}
        </div>
        <div class="col-sm-9">
            {% include 'users/user_detail_navigation.html' with active_link='contributions' %}
            <div class="content-block">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Pending</div>
                    </div>
                    <table class="table table-bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for contribution in pending_contribution_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' contribution.track.song.pk contribution.track.pk contribution.pk %}">{{ contribution.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' contribution.track.song.pk %}">
                                        {{ contribution.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ contribution.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="panel-title">Approved</div>
                    </div>
                    <table class="table table-bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for contribution in approved_contribution_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' contribution.track.song.pk contribution.track.pk contribution.pk %}">{{ contribution.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' contribution.track.song.pk %}">
                                        {{ contribution.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ contribution.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="panel-title">Declined</div>
                    </div>
                    <table class="table table-bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for contribution in declined_contribution_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' contribution.track.song.pk contribution.track.pk contribution.pk %}">{{ contribution.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' contribution.track.song.pk %}">
                                        {{ contribution.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ contribution.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


