{% extends 'base.html' %}
{% load instrument_name %}

{% block title %}{{ view_user.username }} | Songs{% endblock %}

{% block content %}
    <div class="user-profile row">
        <div class="col s3">
            {% include 'users/user_detail_sidebar.html' %}
        </div>
        <div class="col s9">
            {% include 'users/user_detail_navigation.html' with active_link='track_requests' %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Pending</span>
                    <table class="bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>User</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for track_request in pending_track_request_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' track_request.track.song.pk track_request.track.pk track_request.pk %}">{{ track_request.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' track_request.track.song.pk %}">
                                        {{ track_request.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ track_request.created_by }}</td>
                                <td>{{ track_request.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Approved</span>
                    <table class="bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>User</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for track_request in approved_track_request_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' track_request.track.song.pk track_request.track.pk track_request.pk %}">{{ track_request.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' track_request.track.song.pk %}">
                                        {{ track_request.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ track_request.created_by }}</td>
                                <td>{{ track_request.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Declined</span>
                    <table class="bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>User</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for track_request in declined_track_request_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' track_request.track.song.pk track_request.track.pk track_request.pk %}">{{ track_request.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' track_request.track.song.pk %}">
                                        {{ track_request.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ track_request.created_by }}</td>
                                <td>{{ track_request.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


