<ul class="nav nav-tabs">
    <li role="presentation" {% if active_link == 'overview' %}class="active"{% endif %}>
        <a href="{% url 'users:profile_detail' view_user.username %}">Overview</a>
    </li>
    <li role="presentation" {% if active_link == 'songs' %}class="active"{% endif %}>
        <a href="{% url 'users:profile_songs' view_user.username %}">
            Songs <span class="badge">{{ song_count }}</span>
        </a>
    </li>
    <li role="presentation" {% if active_link == 'contributions' %}class="active"{% endif %}>
        <a href="{% url 'users:profile_contributions' view_user.username %}">
            Contributions <span class="badge">{{ contribution_count}}</span>
        </a>
    </li>
    <li role="presentation" {% if active_link == 'skills' %}class="active"{% endif %}>
        <a href="{% url 'users:profile_skills' view_user.username %}">
            Skills <span class="badge">{{ skill_count }}</span>
        </a>
    </li>
    {% if view_user == request.user %}
        <li role="presentation" {% if active_link == 'track_requests' %}class="active"{% endif %}>
            <a href="{% url 'users:profile_track_requests' view_user.username %}">
                Track Requests
                {% if pending_track_request_count > 0 %}
                    <span class="badge">{{ pending_track_request_count }}</span>
                {% endif %}
            </a>
        </li>
    {% endif %}
</ul>