{% extends 'base.html' %}

{% block title %}{{ view_user.username }} | Songs{% endblock %}

{% block content %}
    <div class="user-profile row">
        <div class="col-sm-3">
            {% include 'users/user_detail_sidebar.html' %}
        </div>
        <div class="col-sm-9">
            {% include 'users/user_detail_navigation.html' with active_link='track_requests' %}
            <section class="user-profile__skill-list content-block">
                <table class="table table-bordered">
                    <thread>
                        <tr>
                            <th>Song</th>
                            <th>Instrument</th>
                            <th>Status</th>
                            <th>Created</th>
                        </tr>
                    </thread>
                    <tbody>
                    {% for track_request in track_request_list %}
                        <tr>
                            <td>{{ track_request.track.song.title }}</td>
                            <td>
                                {{ track_request.track.instrument }}
                            </td>
                            <td>{{ track_request.get_status_display }}</td>
                            <td>{{ track_request.created }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}


