{% load widget_tweaks %}

{% if form.errors %}
    <div class="alert alert-danger">Please correct the errors below:</div>
{% endif %}

{% csrf_token %}
<div class="form-group">
    <div class="col-sm-6">
        <label for="id_name">Name</label>
        {% render_field form.name class+="form-control" %}
        {% if form.name.errors %}
            <p class="errors">{{ form.name.errors.as_text }}</p>
        {% endif %}
    </div>
</div>
<button class="btn btn-primary" type="submit">Save</button>