{% extends 'base.html' %}

{% block title %}Create Skill{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% include 'users/user_account_navigation.html' with active_link='skills' %}
        </div>
        <div class="panel-body">
            <form action="" method="post" class="form-horizontal">
                <legend>Create Skill</legend>
                {% include 'users/user_account_skill_form.html' %}
            </form>
        </div>
    </div>
{% endblock %}