{% extends 'base.html' %}

{% block title %}{{ view_user.username }} | Songs{% endblock %}

{% block content %}
    <div class="user-profile row">
        <div class="col s3">
            {% include 'users/user_detail_sidebar.html' %}
        </div>
        <div class="col s9">
            {% include 'users/user_detail_navigation.html' with active_link='songs' %}
            <nav class="white">
                <div class="nav-wrapper">
                    <form action="{% url 'users:songs' view_user.username %}" method="GET">
                        <div class="input-field">
                            <input type="search" id="id_title" name="title" placeholder="Search songs..."
                                   value="{{ request.GET.title }}"/>
                            <label for="id_title"><i class="material-icons text-color--base">search</i></label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
            <section class="user-profile__song-list row">
                {% if song_list %}
                    {% for song in song_list %}
                        <div class="col s12">
                            <div class="card horizontal">
                                <div class="card-stacked">
                                    <div class="card-content">
                                    <span class="card-title">
                                        <a href="{% url 'songs:detail' song.pk %}">{{ song.title }}</a>
                                    </span>
                                        <p>{{ song.description | truncatechars:100 }}</p>
                                        <p>Updated {{ song.updated | timesince }} ago</p>
                                    </div>
                                    <div class="card-action">
                                        {% if request.user == view_user %}
                                            <a href="{% url 'songs:edit' song.pk %}">Edit</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    We couldn't find any songs.
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}


