{% extends 'base.html' %}
{% load instrument_name %}

{% block title %}{{ view_user.username }} | Contributions{% endblock %}

{% block content %}
    <div class="user-profile row">
        <div class="col s3">
            {% include 'users/user_detail_sidebar.html' %}
        </div>
        <div class="col s9">
            {% include 'users/user_detail_navigation.html' with active_link='contributions' %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Pending</span>
                    <table class="bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for contribution in pending_contribution_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' contribution.track.song.pk contribution.track.pk contribution.pk %}">{{ contribution.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' contribution.track.song.pk %}">
                                        {{ contribution.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ contribution.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Approved</span>
                    <table class="bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for contribution in approved_contribution_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' contribution.track.song.pk contribution.track.pk contribution.pk %}">{{ contribution.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' contribution.track.song.pk %}">
                                        {{ contribution.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ contribution.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Declined</span>
                    <table class="bordered">
                        <thread>
                            <tr>
                                <td>#</td>
                                <th>Track</th>
                                <th>Song</th>
                                <th>Created</th>
                            </tr>
                        </thread>
                        <tbody>
                        {% for contribution in declined_contribution_list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'songs:track_request_detail' contribution.track.song.pk contribution.track.pk contribution.pk %}">{{ contribution.track.instrument | instrument_name }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'songs:detail' contribution.track.song.pk %}">
                                        {{ contribution.track.song.title }}
                                    </a>
                                </td>
                                <td>{{ contribution.created }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}


