{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% include 'users/user_account_navigation.html' with active_link='skills' %}
        </div>
        <div class="panel-body">
            <a href="{% url 'users:skill_create' user.username %}" class="btn btn-primary">
                <i class="glyphicon glyphicon-plus"></i> Add Skill
            </a>
            <div class="skills">
                {% for skill in skill_list %}
                    <span class="badge skill">
                        {{ skill.get_name_display }}
                        <a href="{% url 'users:skill_delete' user.username skill.pk %}" class="skill-addon">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </span>
                {% endfor %}

            </div>
        </div>
{% endblock %}