{% load gravatar %}

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Band Maker</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/songs">Listen</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.id %}
                    <li>
                        <a href="/songs?requesting_tracks=true">Record</a>
                    </li>
                    <li>
                        <a href="{% url 'users:songs' user.username %}">My Songs</a>
                    </li>
                    <li class="dropdown">
                        <img id="dropdownMenu1" class="gravatar clickable" src="{% gravatar_url user.email 50 %}"
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a href="/accounts/register">Sign Up</a>
                    </li>
                    <li>
                        <a href="{% url 'django.contrib.auth.views.login' %}">Log In</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>