{% load avatar_image %}
{% load notifications_tags %}
{% load static %}

<header class="site-header">
    <nav>
        <div class="nav-wrapper container">
            <a href="{% url 'index' %}" class="brand-logo">
                <img src="{% static 'images/white_logo_transparent_background_small.png' %}" alt="Melody Buddy logo"
                     title="Melody Buddy"/>
            </a>
{#            <a href="#" data-activates="mobile-main-navigation" class="button-collapse">#}
{#                <i class="material-icons">menu</i>#}
{#            </a>#}
{#            <ul id="nav-mobile" class="right hide-on-med-and-down">#}
{#                {% if user.id %}#}
{#                    <li>#}
{#                        <a href="{% url 'songs:index' %}?accepting_contributions=on">Contribute</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        <a href="{% url 'songs:wizard_create' %}">Create</a>#}
{#                    </li>#}
{#                    <li>#}
{#                        {% notifications_unread as unread_count %}#}
{#                        {% if  unread_count %}#}
{#                            <a href="{% url 'notifications:unread' %}">#}
{#                                <i class="material-icons left">notifications_active</i>#}
{#                                <span class="new badge">{{ unread_count }}</span>#}
{#                            </a>#}
{#                        {% else %}#}
{#                            <a href="{% url 'notifications:all' %}">#}
{#                                <i class="material-icons">notifications</i>#}
{#                            </a>#}
{#                        {% endif %}#}
{#                    </li>#}
{##}
{#                    <li class="gravatar">#}
{#                        <a class="dropdown-button" href="#!" data-activates="dropdown1">#}
{#                            {% avatar_image user size=35 %}#}
{#                            <i class="material-icons right">arrow_drop_down</i>#}
{#                        </a>#}
{#                    </li>#}
{#                {% else %}#}
{#                    {% include 'base_unauthenticated_links.html' %}#}
{#                {% endif %}#}
{#            </ul>#}
        </div>
    </nav>
</header>

{# Links loaded via javascript #}
{% if user.id %}
    <ul id="dropdown1" class="dropdown-content">
        {% include 'base_account_links.html' %}
    </ul>
    <ul id="mobile-main-navigation" class="side-nav">
        {% include 'base_account_links.html' %}
    </ul>
{% else %}
    <ul id="mobile-main-navigation" class="side-nav">
        {% include 'base_unauthenticated_links.html' %}
    </ul>
{% endif %}