<footer class="site-footer indigo">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Melody Buddy</h5>
{#                <p>You can use rows and columns here to organize your footer content.</p>#}
            </div>
            <div class="col l4 offset-l2 s12">
                <h5>Help</h5>
                <ul>
                    <li>
                        <a class="text-color--muted" href="mailto:support@melodybuddy.com">support@melodybuddy.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="site-footer__copyright indigo darken-2">
        <div class="container">
            © {% now "Y" %} Melody Buddy
        </div>
    </div>
</footer>