{% load gravatar %}

<nav class="navbar navbar-default navbar-static-top navbar-inverse">
    <div class="container">
        <ul class="nav navbar-nav">
            <li{% if request.path == "/" %} class="active"{% endif %}>
                <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
            </li>
            <li{% if request.path == "/songs" %} class="active"{% endif %}>
                <a href="/songs"><span class="glyphicon glyphicon-music"></span> Songs</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.id %}
                <li>
                    <a href="{% url 'users:songs' user.username %}">My Songs</a>
                </li>

                <li class="dropdown">
                    <img id="dropdownMenu1" class="gravatar clickable" src="{% gravatar_url user.email 50 %}"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"/>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li>
                            <a href="/accounts/profile">Account</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="/accounts/register">Sign Up</a>
                </li>
                <li>
                    <a href="{% url 'django.contrib.auth.views.login' %}">Log In</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>