{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>

    <!-- angular dependencies -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/theme.css' %}"/>
</head>
<body ng-app="bmApp">

{% include 'base_header.html' %}

<main class="container">
    {% block content %}{% endblock %}
</main>

{% include 'base_footer.html' %}
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/directives/media_player/media_player.js' %}"></script>
<script src="{% static 'js/controllers/track_upload.js' %}"></script>
<script></script>
</body>
</html>
