.text-color--primary {
  color: #2196f3 !important;
}
.text-color--danger {
  color: #f44336;
}
.text-color--success {
  color: #4caf50;
}
.text-color--info {
  color: #03a9f4;
}
.text-color--warning {
  color: #ff9800;
}
.text-color--base {
  color: #444 !important;
}
.text-color--inverse,
.skill-addon,
.skill-addon:focus,
.skill-addon:active,
.skill-addon:hover,
.message.message--success,
.message.message--error,
.message.message--info,
.message.message--warning,
.message .message__close {
  color: white;
}
.bg-color--primary {
  background-color: #2196f3 !important;
}
.bg-color--warning,
.message.message--warning {
  background-color: #ff9800;
}
.bg-color--success,
.message.message--success {
  background-color: #4caf50;
}
.bg-color--info,
.message.message--info {
  background-color: #03a9f4;
}
.bg-color--danger,
.message.message--error {
  background-color: #f44336;
}
.clickable {
  cursor: pointer !important;
}
.btn.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.jumbotron {
  background: #2196f3;
  color: white;
  padding-bottom: 80px;
}
body {
  background-color: #fcfcfc;
}
nav {
  background-color: #3f51b5 !important;
}
/*
 *
 * MediaPlayer Core
 *
 */
.media-player {
  margin: 0 auto;
}
/*
 *
 * MediaPlayer Controls
 *
 */
.media-player__controls {
  margin-top: 20px;
}
.media-player__controls .media-player__control {
  margin-right: 10px;
  float: left;
  font-size: 20px;
  cursor: pointer;
}
/*
 *
 * MediaPlayer Loading
 *
 */
.media-player__loading-progress {
  margin: 15px 0;
}
.media-player__loading-progress .progress {
  height: 15px;
}
/*
 *
 * MediaPlayer Track
 *
 */
.media-player__track {
  min-height: 60px;
  width: 100%;
  margin: 0 !important;
}
.media-player__track.media-player__track--no-media .media-player__track-waveform {
  padding-top: 15px;
}
.media-player__track:first-of-type {
  min-height: 75px;
}
.media-player__track:first-of-type .media-player__track-waveform-container {
  min-height: 75px;
}
.media-player__track:first-of-type .media-player__track-waveform {
  padding-top: 15px;
}
.media-player__track:last-of-type {
  min-height: 75px;
}
.media-player__track:last-of-type .media-player__track-waveform-container {
  min-height: 75px;
}
.media-player__track:last-of-type .media-player__track-waveform {
  padding-bottom: 15px;
}
.media-player__track .media-player__track-waveform-container {
  min-height: 60px;
  background: #444;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.media-player__track .media-player__track-artist {
  display: inline-block;
  margin-right: 15px;
  padding-top: 15px;
}
.media-player__track .media-player__track-meta {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}
.media-player__track .media-player__track-controls {
  margin: 0;
}
.media-player__track .media-player__track-control {
  float: left;
  margin-left: 10px;
}
.media-player__track .media-player__track-control:first-child {
  margin-left: 0;
}
.skills {
  margin-top: 15px;
}
.skill {
  padding: 10px;
  margin-right: 10px;
}
.skill:last-of-type {
  margin-right: 0;
}
.skill-addon {
  margin-left: 5px;
}
.user-profile__avatar {
  border-radius: 5px;
}
.user-profile__meta {
  list-style: none;
  padding: 0;
}
.user-profile__song-search {
  margin-top: 20px;
  margin-bottom: 20px;
}
.user-profile__song-search input[type="text"] {
  width: 300px;
}
.user-profile__song {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.user-profile__song:first-child {
  border-top: 1px solid #eee;
}
.user-profile__song-title {
  margin-top: 0;
}
.user-profile__song-admin-widgets {
  padding: 0;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 15px;
}
.comments #id_honeypot {
  display: none;
}
.comments__comment-list {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
}
.comments__comment {
  margin-top: 15px;
}
.comments__comment-author-avatar {
  width: 50px;
}
.comments__comment-content {
  margin-left: 65px;
}
.site-footer {
  margin-top: 20px;
}
main.container {
  margin-top: 50px;
}
form .errors {
  color: #f44336;
  padding: 5px;
  margin-top: -15px;
}
.song__requested-tracks {
  padding: 0;
  list-style: none;
}
.song__requested-track {
  margin-right: 10px;
  float: left;
}
.song__meta {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}
.song__meta li {
  float: left;
  margin-right: 20px;
}
.content-block {
  margin-top: 15px;
}
.site-header .gravatar {
  position: relative;
}
.site-header .gravatar img {
  position: relative;
  top: 12px;
}
