.text-color--primary {
  color: #3f51b5 !important;
}
.text-color--danger {
  color: #f44336;
}
.text-color--success {
  color: #4caf50;
}
.text-color--info {
  color: #03a9f4;
}
.text-color--warning {
  color: #ff9800;
}
.text-color--base {
  color: #444 !important;
}
.text-color--inverse,
.skill-addon,
.skill-addon:focus,
.skill-addon:active,
.skill-addon:hover,
.message.message--success,
.message.message--error,
.message.message--info,
.message.message--warning,
.message .message__close {
  color: white;
}
.text-color--muted,
.site-footer {
  color: #eee;
}
.bg-color--primary {
  background-color: #3f51b5 !important;
}
.bg-color--warning,
.message.message--warning {
  background-color: #ff9800;
}
.bg-color--success,
.message.message--success {
  background-color: #4caf50;
}
.bg-color--info,
.message.message--info {
  background-color: #03a9f4;
}
.bg-color--danger,
.message.message--error {
  background-color: #f44336;
}
.clickable {
  cursor: pointer !important;
}
.btn.btn-small {
  height: 24px;
  line-height: 24px;
  padding: 0 0.5rem;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
nav {
  background-color: #3f51b5;
}
/*
 *  components
 */
/*
 *
 * MediaPlayer Core
 *
 */
.media-player {
  margin: 0 auto;
}
/*
 *
 * MediaPlayer Controls
 *
 */
.media-player__controls {
  margin-top: 20px;
}
.media-player__controls .media-player__control {
  margin-right: 10px;
  float: left;
  font-size: 20px;
  cursor: pointer;
}
/*
 *
 * MediaPlayer Loading
 *
 */
.media-player__loading-progress {
  margin: 15px 0;
}
.media-player__loading-progress .progress {
  height: 15px;
}
/*
 *
 * MediaPlayer Track
 *
 */
.media-player__track {
  height: 60px;
  width: 100%;
  margin: 0 !important;
}
.media-player__track.media-player__track--no-media .media-player__track-waveform {
  padding-top: 15px;
}
.media-player__track:first-of-type {
  height: 75px;
}
.media-player__track:first-of-type .media-player__track-waveform-container {
  height: 75px;
}
.media-player__track:first-of-type .media-player__track-waveform {
  padding-top: 15px;
}
.media-player__track:last-of-type {
  height: 75px;
}
.media-player__track:last-of-type .media-player__track-waveform-container {
  height: 75px;
}
.media-player__track:last-of-type .media-player__track-waveform {
  padding-bottom: 15px;
}
.media-player__track .media-player__track-waveform-container {
  height: 60px;
  background: #444;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}
.media-player__track .media-player__track-artist {
  display: inline-block;
  margin-right: 15px;
  padding-top: 15px;
}
.media-player__track .media-player__track-meta-container {
  height: 60px;
}
.media-player__track .media-player__track-meta {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}
.media-player__track .media-player__track-controls {
  margin: 0;
}
.media-player__track .media-player__track-control {
  float: left;
  margin-left: 10px;
}
.media-player__track .media-player__track-control:first-child {
  margin-left: 0;
}
.wizard__navigation {
  background: transparent !important;
}
.wizard__step {
  color: #444;
  background: white;
  float: none;
  padding: 0;
  border-right: 2px solid rgba(0, 0, 0, 0.14);
}
.wizard__step:last-of-type {
  border-right: none;
}
.wizard__step.wizard__step--active {
  color: white;
  background-color: #3f51b5;
}
.wizard__step.wizard__step--active a {
  color: white;
}
.wizard__step a {
  color: #444;
  padding: 0 15px;
  font-size: 1rem;
  display: block;
  cursor: pointer;
}
.wizard__step a:hover {
  background: none;
}
.wizard__content--primary,
.wizard__content--secondary {
  min-height: 400px !important;
}
.wizard__content--secondary {
  overflow-y: scroll;
}
.wizard__actions {
  text-align: right;
}
.wizard__delete-track {
  display: inline;
  margin-left: 15px;
}
.wizard__preview .wizard__preview-description {
  margin-bottom: 20px !important;
}
.wizard__preview .collection-item .secondary-content {
  margin-top: -9px;
  /* magic number */
}
/*
 *  apps
 */
.skills {
  margin-top: 15px;
}
.skill {
  padding: 10px;
  margin-right: 10px;
}
.skill:last-of-type {
  margin-right: 0;
}
.skill-addon {
  margin-left: 5px;
}
.user-profile__avatar {
  border-radius: 5px;
}
.user-profile__meta {
  list-style: none;
  padding: 0;
}
.user-profile__song-search {
  margin-top: 20px;
  margin-bottom: 20px;
}
.user-profile__song-search input[type="text"] {
  width: 300px;
}
.user-profile__song {
  position: relative;
  padding: 15px;
  border-bottom: 1px solid #eee;
}
.user-profile__song:first-child {
  border-top: 1px solid #eee;
}
.user-profile__song-title {
  margin-top: 0;
}
.user-profile__song-admin-widgets {
  padding: 0;
  list-style: none;
  position: absolute;
  top: 15px;
  right: 15px;
}
.comments #id_honeypot {
  display: none;
}
.comments__comment-list {
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #eee;
}
.comments__comment {
  margin-top: 15px;
}
.comments__comment-author-avatar {
  width: 50px;
}
.comments__comment-content {
  margin-left: 65px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: #eee;
}
main {
  flex: 1 0 auto;
}
main.container {
  margin-top: 50px;
}
form .errors,
form .errorlist {
  color: #f44336;
  padding: 0 20px 20px;
  margin-top: -15px;
}
nav {
  background-color: #3f51b5 !important;
}
.collection footer {
  margin-top: 15px;
}
.content-block {
  margin-top: 15px;
}
.site-header .gravatar {
  position: relative;
}
.site-header .gravatar img {
  position: relative;
  top: 12px;
}
.site-header .gravatar .dropdown-content {
  min-width: 200px;
  right: 0;
}
.site-footer {
  margin-top: 20px;
  padding-top: 20px;
}
.site-footer__copyright {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.site-footer__social-icons a {
  display: block;
  margin-left: 0;
  margin-bottom: 15px;
}
.site-footer__social-icons a svg {
  margin-right: 15px;
  float: left;
  fill: #eee;
}
