{% load widget_tweaks %}
{% load comments %}
{% load gravatar %}

<div class="comments__comment-form">
    {% if user.is_authenticated %}
        {% get_comment_form for object as form %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <div class="input-field">
{#                <a href="{% url 'users:detail' user.username %}" class="comments__comment-author-avatar left">#}
{#                    <img src="{% gravatar_url user.email 50 %}"#}
{#                         title="{{ user.username }}"/>#}
{#                </a>#}
                {% render_field form.comment class+="materialize-textarea" placeholder="Add a comment" required="required" %}
                {{ form.comment.errors }}
            </div>
            <input type="hidden" name="next" value="{{ request.path }}"/>
            <input type="submit" value="Comment" id="id_submit" class="btn"/>
        </form>
    {% else %}
        <p>Please <a href="{% url 'accounts:login' %}">log in</a> to leave a comment.</p>
    {% endif %}
</div>