@import (reference) "../includes/_colors";
@import (reference) "../includes/_measurements";

.user-profile {
}

.user-profile__avatar {
    border-radius: 5px;
}

.user-profile__meta {
    list-style: none;
    padding: 0;
}

.user-profile__meta-data {

}

.user-profile__meta-data-icon {

}

.user-profile__song-search {
    margin-top: @margin-large;
    margin-bottom: @margin-large;

    input[type="text"] {
        width: 300px;
    }
}

.user-profile__song {
    position: relative;
    padding: @padding-default;
    border-bottom: @border-width-extra-small solid @color-gray-light;

    &:first-child {
        border-top: @border-width-extra-small solid @color-gray-light;
    }
}

.user-profile__song-title {
    margin-top: 0;
}

.user-profile__song-admin-widgets {
    padding: 0;
    list-style: none;
    position: absolute;
    top: @padding-default;
    right: @padding-default;
}

//.user-profile__song-admin-widget {
//    &:extend(.bg-color--primary);
//    &:extend(.text-color--inverse);
//}